<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/cinema.css}"
          href="cinema.css"/>

    <div th:replace="vues/header :: head"></div>

</head>
<body>

<nav th:replace="vues/header :: header-nav"></nav>

<!--
<main role="main">

    <div class="container">

        <form action="#" th:action="@{/person/add}" th:object="${personne}" method="post" enctype="multipart/form-data" >
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label for="prenom" >Prénom :</label>
                <input type="text" th:field="*{givenname}" class="form-control" id="prenom"/>
            </div>

            <div class="form-group">
                <label for="nom" >Nom :</label>
                <input type="text" th:field="*{surname}" class="form-control" id="nom"/>
            </div>

            <div class="form-group">
                <label for="age" >Annee de naissance :</label>
                <input type="date" th:field="*{birthday}" class="form-control" id="age"/>
            </div>

            <div class="form-group">
                <label for="affiche">Photo :</label>
                <input type="file" name="photo" class="form-control-file" id="affiche"/>
            </div>

            <input type="submit" value="Valider" class="btn btn-primary"/>

        </form>

    </div>

</main>-->

<footer th:replace="vues/header :: footer"> footer</footer>

</body>
</html>