<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class="ui footer basic segment" th:fragment="footer">

    <div class="ui center aligned container">

        <p>&copy; Company 2017-2018</p>

    </div>

    <!-- //////////////////////////////// Chargement des scripts ///////////////////////////////////// -->
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js" ></script>
    <script type="text/javascript" src="/webjars/Semantic-UI/2.4.1/semantic.min.js"></script>

</footer>

<!--
<div th:fragment="font-awesome-css">
    <script type="text/css" src="webjars/font-awesome/5.6.1/css/fontawesome.min.css"></script>
</div>
-->

</body>
</html>