<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <div th:fragment="head">

        <link rel="stylesheet" type="text/css" href="/webjars/Semantic-UI/2.4.1/semantic.min.css"
        th:href="@{/webjars/Semantic-UI/2.4.1/semantic.min.css}">

    </div>

    <div th:fragment="stars">

        <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.6.1/css/all.css">

        <style>
            .stars-rating{
                font-family: FontAwesome;
                /*position: absolute;*/
                /*top: 0;*/
                /*left: 0;*/
                white-space: nowrap;
                overflow: hidden;
                width: 100%;
            }

            .stars-rating::before {
                /*content: "\f005 \f005 \f005 \f005 \f005";*/
                content: "&#x02605; \f005 \f005 \f005 \f005";
                color: #f8ce0b;
            }
        </style>

    </div>

</head>
<body>

<nav class="" th:fragment="header-nav">

    <div class="ui menu">

        <div class="header item">
            Cinema
        </div>

        <a class="item" th:href="@{~/}">
            Index
        </a>

    </div>

</nav>

</body>
</html>