<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genres</title>

    <link rel="stylesheet" th:href="@{/css/cinema.css}"
          href="cinema.css" />

    <div th:replace="vues/header :: head"></div>

</head>
<body>

<nav th:replace="vues/header :: header-nav"></nav>

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Genres</h1>
            <p>Liste des genres.</p>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4" th:each="genre : ${genres}">
                <h2 th:text="${genre.name}">Heading</h2>
                <p><a class="btn btn-secondary" th:href="${'delete/' + genre.id}" th:text="'Supprimer'" role="button">Delete</a></p>
            </div>
        </div>
    </div>

</main>

<footer th:replace="vues/header :: footer"> footer </footer>

</body>
</html>