<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genres</title>

    <link rel="stylesheet" th:href="@{/css/cinema.css}"
          href="cinema.css" />

    <div th:replace="vues/header :: head"></div>

</head>
<body>

<nav th:replace="vues/header :: header-nav"></nav>
<!--

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Genres</h1>
            <p>Liste des genres.</p>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4" th:each="genre : ${genres}">
                <h2 th:text="${genre.name}">Heading</h2>
                <p><a class="btn btn-secondary" th:href="${'delete/' + genre.id}" th:text="'Supprimer'" role="button">Delete</a></p>

-->

<nav th:replace="vues/header :: header-nav"></nav>


<div class="ui container ">

    <h1>Films du cinéma</h1>
    <p>Liste des films.</p>

    <div class="ui link cards center aligned grid">

        <a class="card" th:each="film : ${films}" th:href="${film.id}" >

            <div class="ui image">
                <img th:src="@{ '~/images/affiches/'+ ${film.id} }">
            </div>

            <div class="content">
                <div class="header" th:text="${film.title}" >Titre</div>
                <!--<div class="meta">
                    <a>Friends</a>
                </div>
                pratique pour afficher les genres du film
                -->
            </div>
        </a>

    </div>

</div>

<footer th:replace="vues/footer :: footer"> footer </footer>


</body>
</html>