<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genres</title>

    <link rel="stylesheet" th:href="@{/css/cinema.css}"
          href="cinema.css" />

    <div th:replace="vues/header :: head"></div>

</head>
<body>

<nav th:replace="vues/header :: header-nav"></nav>


<div class="ui container ">

    <h1>Genres</h1>
    <p>Liste des genres.</p>

        <div class="ui grid">
            <div class="four wide column" th:each="genre : ${genres}">

                <h2 th:text="${genre.name}">genre</h2>

                <a class="ui blue button" th:href="${'delete/' + genre.id}" th:text="'Supprimer'" role="button">Delete</a>

            </div>
        </div>

</div>

<footer th:replace="vues/footer :: footer"> footer </footer>

</body>
</html>