<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Accueil </title>

    <link rel="stylesheet" th:href="@{/css/cinema.css}"
          href="cinema.css" />

    <div th:replace="vues/header :: head"></div>

</head>
<body>

<nav th:replace="vues/header :: header-nav"></nav>

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Accueil du cinéma</h1>

            <a href="/person/list" th:text="'liste de personnes'">link</a><br/>

            <a href="/person/add" th:text="'formulaire création de personnes'">link</a><br/>

            <a href="/film/list" th:text="'liste de films'">link</a><br/>

            <a href="/film/add" th:text="'formulaire création de film'">link</a><br/>

        </div>

    </div>

</main>

<footer th:replace="vues/header :: footer"> footer </footer>

</body>
</html>