<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${personne.getSurname() + ' ' + personne.getGivenname()}">
        Detail
    </title>
    <link rel="stylesheet" th:href="@{/css/cinema.css}" href="cinema.css" />

    <div th:replace="vues/header :: head"></div>
</head>
<body>

<nav th:replace="vues/header :: header-nav"></nav>

<div class="ui main container">
    <div class="ui segment">
        <div class="ui grid">

            <!-- //////////////////////////////////// Film ////////////////////////////////////// -->
            <div class="five wide column">
                <!-- //////////// Portrait ///////////// -->
                <img class="ui centered image small" th:src="@{'~/images/personnes/'+ ${personne.imagePath}  }" />
            </div>

            <div class="eleven wide column">

                <!-- //////////// Details ///////////// -->
                <h1 th:text="${personne.getGivenname() + ' ' + personne.getSurname()}" >nom</h1>
                <div class="ui divider" ></div>

                <p th:text="'Né(e) en : ' + ${personne.getBirthday()}">date naissance</p>

                <!--<p><a class="ui button" th:href="${'mod/' + film.id}" th:text="'Modifier'" role="button">Modifier</a></p>-->
                <p><a class="ui blue button" th:href="${'delete/' + personne.id}" th:text="'Supprimer'" role="button">Delete</a></p>

            </div>

            <!--////////////////////////////////// Role(s) /////////////////////////////////// -->
            <div class="sixteen wide column">
                <h3 th:text="'Liste des roles joué par l\'acteur : ' "></h3>
                <div class="ui divider" ></div>

                <div class="ui grid">
                    <div class="four wide column" th:each="role : ${personne.roles}">

                        <h2 th:text="${role.getName()} + ' dans ' + ${role.getFilm().getTitle()}">Role</h2>

                        <a class="ui button" th:href="@{'~/film/' + ${role.getFilm().getId()}}"
                           th:text="'Détails film'" role="button">View details &raquo;</a>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<footer th:replace="vues/footer :: footer"> footer </footer>

</body>
</html>