<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des personnes</title>

    <link rel="stylesheet" th:href="@{/css/cinema.css}"
          href="cinema.css" />

    <div th:replace="vues/header :: head"></div>

</head>
<body>

<nav th:replace="vues/header :: header-nav"></nav>

<div class="ui container">

    <h1>Personnes</h1>
    <p>Liste des personnes.</p>

    <div class="ui link six cards center aligned grid">

        <a class="card" th:each="personne: ${personnes}" th:href="${personne.id}" >

            <div class="ui image">
                <img th:src="@{ '~/images/personnes/'+ ${personne.imagePath} }">
            </div>

            <div class="content">
                <div class="header" th:text="${personne.givenname + ' ' + personne.surname}" >nom</div>
            </div>
        </a>

    </div>

</div>

<footer th:replace="vues/footer :: footer"> footer </footer>

</body>
</html>