<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${film.title}">Détail Film</title>

    <link rel="stylesheet" th:href="@{/css/cinema.css}"
          href="cinema.css" />

    <div th:replace="vues/header :: head"></div>

</head>
<body>

<nav th:replace="vues/header :: header-nav"></nav>

<main role="main">

    <div class="jumbotron">

        <div class="container">

            <!-- //////////// Affiche /////////////-->
            <div class="moviePoster" >
                <img th:src="@{'~/images/affiches/'+ ${film.getId()} }" />
            </div>

            <!-- //////////// Détails film /////////////-->
            <div class="movieDescription" >
                <h1 th:text="${film.getTitle()}">Titre</h1>
                <p th:text="${film.getSummary()}">Resume</p>
                <h2>Note: <span th:text="${film.getRating()}">Note</span></h2>

                 <!--//////////// Réalisateur /////////////-->
                <h3 th:text="'Réalisateur : ' + ${film.getDirector().getGivenname()} + ', '
                                        + ${film.getDirector().getSurname()}">
                    Realisateur
                </h3>

                <p id="photoPersonne">
                    <img th:src="@{'~/images/personnes/' + ${film.getDirector().getImagePath()}}" />
                </p>

            </div>
        </div>

    </div>


    <h3 th:text="'Acteurs : ' " style="clear:both; text-align: center;"> Acteurs </h3>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4" th:each="role : ${film.getRoles()}">
                <h2 th:text="${role.getActor().getGivenname()}
                        + ' ' + ${role.getActor().getSurname()}">Nom prenom</h2>

                <p th:text="'Dans le role de ' + ${role.getName()}">Role</p>
                <p>
                    <a class="btn btn-secondary" th:href="@{'~/person/' + ${role.getActor().getId()}}"
                      th:text="'Voir détails'" role="button">View details &raquo;</a>
                </p>

            </div>
        </div>
        <hr>
    </div>

</main>

<footer th:replace="vues/header :: footer"> footer </footer>

</body>
</html>