<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${film.title}">Détail Film</title>

    <link rel="stylesheet" th:href="@{/css/cinema.css}"
          href="cinema.css" />

    <div th:replace="vues/header :: head"></div>

</head>
<body>

<nav th:replace="vues/header :: header-nav"></nav>

<div class="ui main container ">

    <div class="ui inverted segment">
        <div class="ui grid">

            <!-- //////////////////////////////////// Film ////////////////////////////////////// -->
            <div class="five wide column">
                <!-- //////////// Affiche ///////////// -->
                <img class="ui centered image medium" th:src="@{'~/images/affiches/'+ ${film.id} }" />
            </div>

            <div class="eleven wide column">

                <!-- //////////// Details ///////////// -->
                <h1 th:text="${film.title}" >Titre</h1>
                <div class="ui divider" ></div>

                <p th:text="${film.getSummary()}">Resume</p>
                <h2>Note: <span th:text="${film.getRating()}">Note</span></h2>

                <p><a class="ui button" th:href="${'mod/' + film.id}" th:text="'Modifier'" role="button">Modifier</a></p>
                <p><a class="ui button" th:href="${'delete/' + film.id}" th:text="'Supprimer'" role="button">Delete</a></p>


                <!--////////////////////////////////// Réalisateur /////////////////////////////////// -->
                <div class="ui grid">

                    <div class="three wide column"  th:if="${film.getDirector() != null}" >
                        <img class="ui centered image tiny" th:src="@{'~/images/personnes/' + ${film.getDirector().getImagePath()} }" />
                    </div>

                    <div class="thirteen wide column" th:if="${film.getDirector() != null}" >
                        <h3 th:text="'Réalisateur'">Realisateur</h3>
                        <div class="ui divider" ></div>
                        <p th:text="${film.getDirector().getGivenname()} + ', ' + ${film.getDirector().getSurname()}">nom</p>
                    </div>
                </div>

            </div>

            <!--////////////////////////////////// Acteur(s) /////////////////////////////////// -->
            <div class="sixteen wide column">

                <div class="ui grid">
                    <div class="four wide column" th:each="role : ${film.getRoles()}">

                        <h2 th:text="${role.getActor().getGivenname()} + ' ' + ${role.getActor().getSurname()}">Nom prenom</h2>

                        <p th:text="'Dans le role de ' + ${role.getName()}">Role</p>

                        <a class="ui button" th:href="@{'~/person/' + ${role.getActor().getId()}}"
                               th:text="'Voir détails'" role="button">View details &raquo;</a>

                    </div>
                </div>

            </div>

        </div>
    </div>


</div>

<footer th:replace="vues/footer :: footer"> footer </footer>

</body>
</html>