<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--déclaration d'un espace de nomage appelé th, correspondant à une balise thymeleaf-->
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <link rel="stylesheet" th:href="@{/css/cinema.css}"
          href="cinema.css" />

    <div th:replace="vues/header :: head"></div>

    <div th:replace="vues/header :: stars"></div>

</head>
<body>

<nav th:replace="vues/header :: header-nav"></nav>


<div class="ui container ">

    <h1>Films du cinéma</h1>
    <p>Liste des films.</p>

    <div class="ui link cards center aligned grid">

        <a class="card" th:each="film : ${films}" th:href="${film.id}" >
            <!-- Mettre le a dans un div pr éviter d'avoir les films ds lke désordre? -->
            <div class="ui image">
                <img th:src="@{ '~/images/affiches/'+ ${film.id} }">
            </div>

            <div class="content">
                <div class="header" th:text="${film.title}" >Titre</div>
                <div class="stars-rating"></div>
                <!--<div class="meta">
                    <a>Friends</a>
                </div>
                pratique pour afficher les genres du film
                -->
            </div>
        </a>

    </div>

</div>

<footer th:replace="vues/footer :: footer"> footer </footer>

</body>
</html>