<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--déclaration d'un espace de nomage appelé th, correspondant à une balise thymeleaf-->
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <link rel="stylesheet" th:href="@{/css/cinema.css}"
          href="cinema.css" />

    <div th:replace="vues/header :: head"></div>

</head>
<body>

<nav th:replace="vues/header :: header-nav"></nav>

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Films du cinéma</h1>
            <p>Liste des films.</p>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4" th:each="film : ${films}">
                <h2 th:text="${film.title}">Heading</h2>
                <img th:src="@{ '~/images/affiches/'+ ${film.id} }" class="img_mini_affiche" >
                <p><a class="btn btn-secondary" th:href="${film.id}" th:text="'Voir détails'" role="button">View details &raquo;</a></p>
                <p><a class="btn btn-secondary" th:href="${'delete/' + film.id}" th:text="'Supprimer'" role="button">Delete</a></p>
            </div>
        </div>
    </div>

    <a href="/person/list" th:text="'liste de personnes'">link</a>

    <a href="/person/add" th:text="'formulaire création de personnes'">link</a>

</main>

<footer th:replace="vues/header :: footer"> footer </footer>

</body>
</html>